#pref_table, .button_group, .info_message, #scratchpad {
  margin-left: 10%;
}
#scratchpad {
  width: 60%;
  height: 200px;
}
#pref_table {
  width: 80%;
  border-collapse: collapse;
}
/* stripes */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: left;
}
#saved_text {
  color: green;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.9em;
}
.moveup, .delrow {
  letter-spacing: 4px;
  cursor: pointer;
}

/* borrowed from: https://css-tricks.com/responsive-data-tables/ */
@media all and (max-device-width: 719px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  #pref_table, .button_group, .info_message {
    margin-left: 0;
  }
  #pref_table {
    width: auto;
  }
  .button_group, .info_message, #saved_text {
    font-size: 2em;
  }
  .button_group > button {
    width: 38%;
    height: 30px;
    font-weight: bold;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 40%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before { content: "Phrase"; }
  td:nth-of-type(2):before { content: "Rewrite to"; }
  td:nth-of-type(3):before { content: "Ignore case"; }
  td:nth-of-type(4):before { content: "Match word"; }

  .moveup, .delrow {
    letter-spacing: 25px;
    font-size: 140%;
  }
}
